<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
		<string>org.pell.postoffice</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/lib/postoffice</string>
		<string>-d</string>
		<string>-bd</string>
	</array>
	<key>StandardOutPath</key>
		<string>/dev/null</string>
	<key>OnDemand</key><false/>
	<key>RunAtLoad</key><true/>
	<key>KeepAlive</key><true/>
</dict>
</plist>
